body, input, textarea 
{
	font-size:12px;
	line-height:18px;
	font-family:Verdana, Geneva, sans-serif;
}

input 
{
	width: 200px;
}

.submit 
{
	width: 120px;
}

#error
{
	color:red;
	font-size: 10px;
	display: none;
}

.needsfilled 
{
	background-color: red;
	color:white;
}